table.striped-table.contacts-table
  thead
    tr
      th Name
      th Title
      th Phone
  tbody
    each person in contacts
      - var email = 'mailto:' + person.email;
      - var phone = getPhone(person.phone);
      tr
        td| #[a(href=email) #{person.name}]
        td.title-field| #{person.title}
        if (phone === 'tel+1')
          td= person.phone
        else
          td| #[a(href=phone)= person.phone]
