- var moment = require('moment');
each result in results
 - var date = moment(result.publication_date).format('MMMM D, YYYY');
  li.federal-register-item
    span.card-ribbon
      span.card-type= result.type
      a(href=result.pdf_url target="_blank")
        svg.icon
          title| Download #{result.type} as a PDF
          use(xlink:href="#pdf")
    span.card-date= date
    p.card-text
      a(href=result.html_url, target="_blank")= result.title
